<mat-nav-list>
    
    
    <h2 matSubheader class="items"> القائمة </h2>
    <a  style="font-weight: bold; ;" mat-list-item routerLinkActive="list-item-active" routerLink='/'>
        <div class="items"> الرئيسية</div>
<pre> </pre>        <mat-icon aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
</a>

    <a  style="font-weight: bold; " mat-list-item routerLinkActive="list-item-active" routerLink='/suggestions'>
        <div class="items">
            اقتراحات
        </div>
        
        
        <mat-icon aria-hidden="false" aria-label="Example home icon"  >how_to_vote</mat-icon></a>


        <a  style="font-weight: bold; " mat-list-item routerLinkActive="list-item-active" routerLink='/complaints'><div class="items">     الشكاوي</div><mat-icon aria-hidden="false" aria-label="Example home icon">how_to_reg</mat-icon>
            
        </a>
    <a  style="font-weight: bold; " mat-list-item routerLinkActive="list-item-active" routerLink='/askForInfo'>
       <div class="items-c"> مطالب النفاذ الى المعلومة</div>
        <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
</a>
<a  style="font-weight: bold; " mat-list-item routerLinkActive="list-item-active" routerLink='/info'>
    <mat-icon aria-hidden="false" aria-label="Example home icon">info</mat-icon>
    <div class="items"> الملفات</div>
</a>
<a  style="font-weight: bold; " mat-list-item routerLinkActive="list-item-active" routerLink='/studentsinfo'>
    <mat-icon aria-hidden="false" aria-label="Example home icon">help</mat-icon>
    <div class="items"> مساعدة</div>
</a>

</mat-nav-list>