<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()"> 
            <mat-icon>menu</mat-icon>
        </button>
        <pre> </pre>
        <span><img src="../../assets/imgs/logo_header.png"></span>
        <div fxFlex fxLayout='row' fxLayoutAlign='end center'>
            <ul fxLayout='row' fxLayoutGap='20px'>
                <li>
                    <button mat-icon-button> 
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>
                            person outline
                        </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>
                                exit_to_app
                            </mat-icon>
                            تسجيل الخروج 
                        </button>

                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>