<div class=" d-flex justify-content-end row-cols-1 row-cols-md-3 g-4">
    <div class="col" >
        <div class="card mb-1" style="max-width: 540px;">
            <app-ccard></app-ccard>
            
            
        </div>
        <pre> </pre>
        <div class="card mb-1" style="max-width: 540px;">
            <app-ccard></app-ccard>
            
            
        </div>
        
        
    </div>
    <div class="col" >
        <div class="card mb-1" style="max-width: 540px;">
            <app-ccard></app-ccard>
            
            
        </div>
        <pre> </pre>
        <div class="card mb-1" style="max-width: 540px;">
            <app-ccard></app-ccard>
            
            
        </div>
        
        
    </div>
    <div class="col" >
        <div class="card mb-1" style="max-width: 540px;">
            <app-ccard></app-ccard>
            
            
        </div>
        <pre> </pre>
        <div class="card mb-1" style="max-width: 540px;">
            <app-ccard></app-ccard>
            
            
        </div>
        
        
    </div>
    
    
</div>