<h6 style="position: absolute; right: 50%; margin-top: 5">الاقتراحات</h6>
<pre></pre>
<div style="margin-top: 50px" fxFlex="100">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>التاريخ</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>الاقتراح</th>
        <td mat-cell *matCellDef="let element">{{ element.about }}</td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>المقترح</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef>الموضوع</th>
        <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <div style="justify-content: space-between;">

            
          <mat-icon>
            <a style="color: rgb(219, 51, 51); text-decoration: none" href=""> delete </a>
          </mat-icon>
          
          <mat-icon>
            <a style="color: violet; text-decoration: none" href="">archive</a>
          </mat-icon>
        </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="some"
    >
    </mat-paginator>
  </div>
</div>
